div
  label(for="title") Title:
  input(type="text", name="title" value=novel.title)
div
  label(for="author") Author:
  input(type="text", name="author" value=novel.author)
div
  label(for="year") Year:
  input(type="number", name="year" value=novel.year)
div
  label(for="genre") genre:
  input(type="text", name="genre" value=novel.genre)
div
  label(for="body") Body:
  textarea(name="body")= novel.body
  input(type="submit")

