extends ../layout

block content
  h1= title
  p Listing all novels
  p
    a(href="/novels/new") Create New Book
  
  each novel in novels
    h2= novel.title
    p= novel.year
    p= novel.genre
    include by_line
    p= novel.shortDescription()
    //- p= article.body TODO: placement layout fix.
    a(href="/novels/" + novel.id) Read More &rarr;