extends ../layout

block content
  h1= title
  p Listing all novels
  p
    a.button(href='/novels/new') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
    each novel in novels
        tr
        td
            a(href="/novels/" + novel.id)= novel.title
        td= novel.author
        td= novel.genre
        td= novel.year